<% include ../partials/header %>
<div class="ui main text container segment">
	<h1>Todas as pessoas</h1>

	<ul class='view__list'>
	<% people.forEach(function(person) {%>
		<li class='view__item ui container segment'>
			<div class="view__picture">
				<img class='view__img' src="<%= person.qr %>" alt="">	
			</div>
			<div class="view__details">
				<p class='view__sub'>
					<%= person.title %><br>
					<a class='view__title' href="/people/<%= person._id %>"><%= person.name %></a>
				</p>
				<form action="/people/<%= person._id %>?_method=DELETE" method="POST">
					<a class='ui teal basic button' href="/people/<%= person._id %>/edit">Editar</a>
				</form>
			</div>
		</li>
	<%});%>
	</ul>
</div>
<% include ../partials/footer %>