<% include ../partials/header %>

<main class="ui main show text container segment">
	<h1>Detalhes</h1>
	<div class="ui show__card shape">
	  <div class="sides">
	    <div class="active side">
	      <div class="ui card">
	        <div class="image">
	          <div class='main-image' id='main-image' style='background-image: url(<%= person.picture %>)'></div>
	        </div>
	        <div class="content">
	          <div class="header"><%= person.name%></div>
	          <div class="meta">
	            <a><%=person.title%></a>
	          </div>
	          <div class="description">
	            <%=person.text%>
	          </div>
	        </div>
	        <div class="extra content">

	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class='show__bottom'>
		<a class='ui teal basic button' href="/people/<%= person._id %>/edit">Editar</a>
		<a class='ui purple basic button' href="/people">Voltar</a>
	</div>
</main>

<% include ../partials/footer %>